<div data-controller="order">
  <hr>
  <div class="flex container">
    <div class="column detail-container">
      <div>ID: <%= order.id %></div>
      <div>Created: <%= order.created_at %></div>
      <div>Promotion codes: <%= order.promotions.any? ? order.promotions.join(', ') : '-' %></div>
      <div>Discount codes: <%= order.discount || '-' %></div>
      <div class="spacer"></div>
      <div>Total price: </div>
      <div class="spacer"></div>
      <button data-action="click->order#complete" data-order-id-param="<%= order.id %>">Complete</button>
      <div data-order-target="errorMessage"></div>
    </div>
    <div class="column">
      <div>Items:</div>
      <div class="item-list-container">
        <ul>
          <%= render partial: "order_item", collection: order.order_items %>
        </ul>
      </div>
    </div>
  </div>
</div>